## Ignore large files
*.bw
*.wig
*_tmp
*.csv
*.rda
*.xlsx
*.Rhistory
*.tiff
*.cel
## Ignore data folders
RatClariomS_16/
TAC/
Clariom_S_Rat.r1.na36.rn6.a1.transcript.csv/
GEO/

## Ignore hidden bash files
.*.sh

## Ignore log files
logs
.Rproj.user
*.log